/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 830px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.45rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
  line-height: 3.2rem;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  line-height: 2.35rem;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.9rem;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.85rem;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.85rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.85rem;
}

li {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.button {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  border-radius: 5px;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.button-blue {
  background-color: #93A5FF;
  color: white;
}
.button-white {
  background-color: white;
  color: #93A5FF;
}
.button-grey {
  background-color: #F7F8FF;
  color: #93A5FF;
}

::placeholder {
  color: white;
  opacity: 1;
}

.slider_indicator {
  background-color: #93A5FF;
  opacity: 0.38;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 100%;
}
.slider_indicator-active {
  transform: scale(175%);
  transition: 0.5s;
  opacity: 1;
}

.hero, .bg-top_shape1, .bg-top_shape2 {
  min-height: 900px;
}
@media screen and (max-width: 1000px) {
  .hero, .bg-top_shape1, .bg-top_shape2 {
    min-height: 800px;
  }
}
@media screen and (max-width: 830px) {
  .hero, .bg-top_shape1, .bg-top_shape2 {
    min-height: 700px;
  }
}
@media screen and (max-width: 600px) {
  .hero, .bg-top_shape1, .bg-top_shape2 {
    min-height: 700px;
  }
}

.bg-top_shape1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: #424D83;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 85%);
}
@media screen and (max-width: 600px) {
  .bg-top_shape1 {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
  }
}

.bg-top_shape2 {
  position: absolute;
  z-index: -2;
  width: 100%;
  background-color: #9CABF7;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
@media screen and (max-width: 600px) {
  .bg-top_shape2 {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}

.hero {
  margin: 0 auto;
  position: relative;
}
.hero > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
.hero > div:nth-child(3) #nav_mobile {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: fit-content;
  top: 0;
  left: 0;
  transform: translateY(-101%);
  transition: 0.2s ease-out;
  background-color: #424D83;
}
.hero > div:nth-child(3) #nav_mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero > div:nth-child(3) #nav_mobile ul li {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  color: white;
  list-style: none;
  margin: 1rem 0;
}
.hero > div:nth-child(3) #nav_mobile ul li:nth-last-of-type(1) {
  margin-bottom: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 124px;
  height: 55px;
  color: #93A5FF;
  background-color: white;
  border-radius: 5px;
}
.hero > div:nth-child(3) #nav_mobile ul li:nth-last-of-type(1) span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero > div:nth-child(3) #nav_mobile ul li:nth-last-of-type(1) img {
  width: 14px;
}
.hero > div:nth-child(3) #burger {
  cursor: pointer;
  width: 2.5rem;
  display: none;
}
@media screen and (max-width: 830px) {
  .hero > div:nth-child(3) #burger {
    display: block;
    margin-bottom: 1rem;
  }
}
.hero > div:nth-child(3) #burger_overlay {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero > div:nth-child(3) header {
  height: 90px;
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero > div:nth-child(3) header > img:first-child {
  width: 100px;
  margin-bottom: 1rem;
}
.hero > div:nth-child(3) header #nav_desktop {
  height: 100%;
}
@media screen and (max-width: 830px) {
  .hero > div:nth-child(3) header #nav_desktop {
    display: none;
  }
}
.hero > div:nth-child(3) header #nav_desktop ul {
  height: 100%;
  display: flex;
}
.hero > div:nth-child(3) header #nav_desktop ul li {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 1rem 1.25rem;
  color: white;
  list-style: none;
  border-radius: 0 0 5px 5px;
}
.hero > div:nth-child(3) header #nav_desktop ul li:hover {
  background-color: #93A5FF;
  transition: 0.5s;
  cursor: pointer;
}
.hero > div:nth-child(3) header #nav_desktop ul li:nth-last-of-type(1) {
  position: relative;
  top: calc(100% - 2.7rem);
  justify-content: space-between;
  align-items: center;
  width: 6.2rem;
  height: 2.7rem;
  color: #93A5FF;
  background-color: white;
  border-radius: 5px;
}
.hero > div:nth-child(3) header #nav_desktop ul li:nth-last-of-type(1) span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero > div:nth-child(3) header #nav_desktop ul li:nth-last-of-type(1) img {
  width: 0.7rem;
}
.hero > div:nth-child(3) .hero-flex {
  margin-top: 3.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .hero > div:nth-child(3) .hero-flex h1, .hero > div:nth-child(3) .hero-flex h3 {
    text-align: center;
  }
}
.hero > div:nth-child(3) .hero-flex div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
  width: 40rem;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) {
  flex-direction: column;
  color: white;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) h3 {
  width: 100%;
  opacity: 0.8;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
@media screen and (max-width: 600px) {
  .hero > div:nth-child(3) .hero-flex > div:nth-child(1) form {
    justify-content: center;
  }
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) form input, .hero > div:nth-child(3) .hero-flex > div:nth-child(1) form select, .hero > div:nth-child(3) .hero-flex > div:nth-child(1) form button {
  margin-bottom: 1rem;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) form input, .hero > div:nth-child(3) .hero-flex > div:nth-child(1) form select {
  font-size: 1rem;
  color: white;
  outline: none;
  padding-left: 0.7rem;
  height: 55px;
  border: none;
  background-color: #384170;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) form input {
  margin-right: 1px;
  width: 17rem;
  border-radius: 5px 0px 0px 5px;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) form select {
  margin-right: 1.5rem;
  width: 6rem;
  border-radius: 0px 5px 5px 0px;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(1) form button {
  font-weight: 600;
  min-width: 166px;
  min-height: 55px;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(2) {
  align-items: center;
}
.hero > div:nth-child(3) .hero-flex > div:nth-child(2) img {
  width: 100%;
}

.why_us {
  background-color: white;
}
@media screen and (max-width: 600px) {
  .why_us {
    display: none;
  }
}
.why_us > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
.why_us > div:first-child h2, .why_us > div:first-child h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.why_us > div:first-child .why_us-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5.25rem;
}
.why_us > div:first-child .why_us-flex div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  width: 35rem;
}
.why_us > div:first-child .why_us-flex > div:nth-child(1) {
  flex-direction: column;
}
.why_us > div:first-child .why_us-flex > div:nth-child(1) article {
  margin: 1.5rem 0;
  width: 32.5rem;
  height: 125px;
  display: grid;
  grid-template-columns: 1.2fr 8.8fr;
  grid-template-rows: 1fr 1fr;
}
.why_us > div:first-child .why_us-flex > div:nth-child(1) article img {
  width: 3.6rem;
  margin: 0 auto;
  grid-row: 1/3;
  grid-column: 1;
}
.why_us > div:first-child .why_us-flex > div:nth-child(1) article h4, .why_us > div:first-child .why_us-flex > div:nth-child(1) article p {
  margin-left: 1.5rem;
}
.why_us > div:first-child .why_us-flex > div:nth-child(1) article h4 {
  grid-row: 1;
  grid-column: 2;
}
.why_us > div:first-child .why_us-flex > div:nth-child(1) article p {
  grid-row: 2;
  grid-column: 2;
  opacity: 0.79;
}
.why_us > div:first-child .why_us-flex > div:nth-child(2) {
  align-items: center;
  position: relative;
}
.why_us > div:first-child .why_us-flex > div:nth-child(2) img {
  width: 100%;
}
.why_us > div:first-child .why_us-flex > div:nth-child(2) img:nth-of-type(2) {
  position: absolute;
  right: 78%;
  top: 61%;
  width: 10rem;
}
@media screen and (max-width: 600px) {
  .why_us > div:first-child .why_us-flex > div:nth-child(2) img:nth-of-type(2) {
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .why_us > div:first-child .why_us-flex > div:nth-child(2) img:nth-of-type(2) {
    display: none;
  }
}
.why_us > div:first-child .why_us-flex > div:nth-child(2) img:nth-of-type(3) {
  transform: rotate(-270deg);
  position: absolute;
  left: 78%;
  bottom: 61%;
  width: 10rem;
}
@media screen and (max-width: 600px) {
  .why_us > div:first-child .why_us-flex > div:nth-child(2) img:nth-of-type(3) {
    left: calc(100% - 10rem);
  }
}
@media screen and (max-width: 600px) {
  .why_us > div:first-child .why_us-flex > div:nth-child(2) img:nth-of-type(3) {
    display: none;
  }
}

.support {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  background-color: #F7F8FF;
}
.support > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
.support > div:first-child h2, .support > div:first-child h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.support > div:first-child .support-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.support > div:first-child .support-flex div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 38.25rem;
}
.support > div:first-child .support-flex .sf-1, .support > div:first-child .support-flex .sf-2 {
  padding: 45px 2.5rem;
}
.support > div:first-child .support-flex .sf-1 h4, .support > div:first-child .support-flex .sf-1 p, .support > div:first-child .support-flex .sf-2 h4, .support > div:first-child .support-flex .sf-2 p {
  color: white;
  width: 100%;
}
.support > div:first-child .support-flex .sf-1 h4, .support > div:first-child .support-flex .sf-2 h4 {
  margin-bottom: 1.2rem;
}
.support > div:first-child .support-flex .sf-1 p, .support > div:first-child .support-flex .sf-2 p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.support > div:first-child .support-flex .sf-1 span, .support > div:first-child .support-flex .sf-2 span {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.support > div:first-child .support-flex .sf-1 span a, .support > div:first-child .support-flex .sf-2 span a {
  text-decoration: none;
  font-size: 0.9rem;
}
.support > div:first-child .support-flex .sf-1 .support-top-container, .support > div:first-child .support-flex .sf-2 .support-top-container {
  height: 100px;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.support > div:first-child .support-flex .sf-1 .support-top-container span, .support > div:first-child .support-flex .sf-2 .support-top-container span {
  width: 3.85rem;
  height: 3.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.support > div:first-child .support-flex .sf-1 .support-top-container > img:last-child, .support > div:first-child .support-flex .sf-2 .support-top-container > img:last-child {
  position: relative;
}
.support > div:first-child .support-flex .sf-1 {
  background-color: #93A5FF;
}
.support > div:first-child .support-flex .sf-1 .support-top-container span {
  background-color: #424D83;
}
.support > div:first-child .support-flex .sf-1 .support-top-container span > img {
  width: 1.75rem;
  height: 2.75rem;
}
.support > div:first-child .support-flex .sf-1 .support-top-container > img:last-child {
  left: 1.75rem;
  height: 6rem;
}
@media screen and (max-width: 600px) {
  .support > div:first-child .support-flex .sf-1 .support-top-container > img:last-child {
    display: none;
  }
}
.support > div:first-child .support-flex .sf-2 {
  background-color: #424D83;
}
.support > div:first-child .support-flex .sf-2 .support-top-container span {
  background-color: #93A5FF;
}
.support > div:first-child .support-flex .sf-2 .support-top-container span > img {
  width: 2.5rem;
  height: 2.5rem;
}
.support > div:first-child .support-flex .sf-2 .support-top-container > img:last-child {
  top: -27px;
  left: 2.5rem;
  width: 13.5rem;
}
@media screen and (max-width: 600px) {
  .support > div:first-child .support-flex .sf-2 .support-top-container > img:last-child {
    display: none;
  }
}

.services {
  max-width: 1920px;
  background-color: white;
  padding: 5rem 0;
  margin: 0 auto;
}
.services > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}
.services > div:first-child h2, .services > div:first-child h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.services > div:first-child .services-flex {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services > div:first-child .services-flex .service_type {
  height: fit-content;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.35rem;
}
.services > div:first-child .services-flex .service_type a {
  -webkit-transform: scale(0%, 0%);
  transform: scale(0%);
  margin-bottom: 0rem;
}
.services > div:first-child .services-flex .service_type span:nth-of-type(1) {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 11px;
  background-color: #93A5FF;
  opacity: 0;
  margin-bottom: 3.5rem;
}
.services > div:first-child .services-flex .service_type img {
  margin: 0 auto;
}
.services > div:first-child .services-flex .service_type .service_type-top_container {
  padding: 0 1.85rem;
}
.services > div:first-child .services-flex .service_type .service_type-top_container p:nth-of-type(1) {
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 700px;
  text-align: center;
}
.services > div:first-child .services-flex .service_type .service_type-top_container p:nth-of-type(2) {
  font-size: 1rem;
  text-align: center;
}
.services > div:first-child .services-flex .service_type span:nth-of-type(2) {
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
  margin-top: 2.325rem;
  margin-bottom: 1.825rem;
}
.services > div:first-child .services-flex .service_type .service_type-bottom_container > p:first-child {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.services > div:first-child .services-flex .service_type .service_type-bottom_container div {
  display: flex;
  margin-bottom: 0rem;
}
.services > div:first-child .services-flex .service_type .service_type-bottom_container div p:nth-of-type(1) {
  font-size: 2rem;
}
.services > div:first-child .services-flex .service_type .service_type-bottom_container div p:nth-of-type(2) {
  font-size: 0.9rem;
}
.services > div:first-child .services-flex .service_type-active a, .services > div:first-child .services-flex .service_type:hover a {
  transition: 0.5s;
  -webkit-transform: scale(100%, 100%);
  transform: scale(100%);
  text-decoration: none;
  margin-bottom: 3rem;
}
.services > div:first-child .services-flex .service_type-active span:nth-of-type(1), .services > div:first-child .services-flex .service_type:hover span:nth-of-type(1) {
  transition: 0.5s;
  opacity: 1;
}
.services > div:first-child .services-flex .service_type-active .service_type-bottom_container div, .services > div:first-child .services-flex .service_type:hover .service_type-bottom_container div {
  margin-bottom: 2.35rem;
}

.testimonials {
  max-width: 1920px;
  background-color: #F7F8FF;
  padding: 5rem 0;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .testimonials .img_dotted {
    display: none;
  }
}
.testimonials .img_dotted:nth-of-type(1) {
  position: relative;
  left: calc(100% - 12rem);
  bottom: 140px;
  width: 12rem;
  margin-bottom: -240px;
}
.testimonials .img_dotted:nth-of-type(2) {
  position: relative;
  top: 170px;
  width: 12rem;
  margin-top: -240px;
}
.testimonials > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}
.testimonials > div:first-child h2, .testimonials > div:first-child h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.testimonials > div:first-child .testimonials-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  margin-bottom: 3.35rem;
}
.testimonials > div:first-child .testimonials-flex article {
  margin: 1.5rem 3rem;
  width: 35rem;
  min-height: 10rem;
  height: fit-content;
  display: grid;
  grid-template-columns: 1.2fr 8.8fr;
  grid-template-rows: 2.25fr 5.5fr 2.25fr;
}
.testimonials > div:first-child .testimonials-flex article img:nth-of-type(1) {
  width: 5.5rem;
  margin: 0 auto;
  grid-row: 1/3;
  grid-column: 1;
}
.testimonials > div:first-child .testimonials-flex article img:nth-of-type(2) {
  width: 6.75rem;
  grid-row: 1;
  grid-column: 2;
}
.testimonials > div:first-child .testimonials-flex article p, .testimonials > div:first-child .testimonials-flex article h5, .testimonials > div:first-child .testimonials-flex article img:nth-of-type(2) {
  margin-left: 1rem;
}
.testimonials > div:first-child .testimonials-flex article p {
  font-style: italic;
  grid-row: 2;
  grid-column: 2;
}
.testimonials > div:first-child .testimonials-flex article h5 {
  grid-row: 3;
  grid-column: 2;
}
.testimonials > div:first-child .slider_indicator_container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.clients {
  max-width: 1920px;
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5.5rem;
  margin: 0 auto;
}
.clients > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}
.clients > div:first-child h2, .clients > div:first-child h3, .clients > div:first-child a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.clients > div:first-child a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
}
.clients > div:first-child .clients-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.clients > div:first-child .clients-flex img {
  width: 10rem;
  margin: 2rem 3.7rem;
}

.bg-bot {
  position: relative;
  height: fit-content;
}

.bg-bot_shape1, .bg-bot_shape2 {
  transform: rotate(180deg);
}

.bg-bot_shape1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #424D83;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 85%);
}
@media screen and (max-width: 600px) {
  .bg-bot_shape1 {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
  }
}

.bg-bot_shape2 {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #9CABF7;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
@media screen and (max-width: 600px) {
  .bg-bot_shape2 {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}

footer {
  color: white;
}
footer .footer-top_container {
  margin: auto;
  max-width: 1640px;
  padding-top: 9.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-top_container ul {
  min-width: 200px;
  margin: 2rem 2rem;
}
footer .footer-top_container ul li:first-child {
  font-weight: 700;
  line-height: 37px;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
footer .footer-top_container ul li {
  margin-bottom: 0.55rem;
}
footer .footer-top_container .payment_types {
  margin: 2rem 2rem;
  height: fit-content;
}
footer .footer-top_container .payment_types span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D355D;
  width: 87px;
  height: 49px;
  border-radius: 5px;
  margin: 0 0.25rem;
}
@media screen and (max-width: 600px) {
  footer .footer-top_container .payment_types span {
    margin-bottom: 0.5rem;
  }
}
footer .footer-top_container .payment_types div:last-child {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-top_container .payment_types p {
  margin-left: 0.25rem;
  font-weight: 700;
}
footer .footer-mid_container {
  margin: auto;
  max-width: 1640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.75rem;
}
footer .footer-mid_container div {
  margin: 0 2rem;
}
@media screen and (max-width: 600px) {
  footer .footer-mid_container div {
    margin-bottom: 1rem;
  }
}
footer .footer-mid_container div:nth-of-type(2) img {
  margin: 0 0.5rem;
}
@media screen and (max-width: 600px) {
  footer .footer-mid_container div:nth-of-type(2) img {
    margin-bottom: 1rem;
  }
}
footer .footer-mid_container div:nth-of-type(2) img:nth-of-type(1) {
  margin-left: 0;
}
footer .footer-bottom_container {
  margin: auto;
  max-width: 1640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 6rem;
}
footer .footer-bottom_container div p {
  font-size: 1rem;
}
footer .footer-bottom_container div:nth-of-type(1) {
  margin: 0 2rem;
}
footer .footer-bottom_container div:nth-of-type(2) {
  margin: 0 2rem;
  display: flex;
}
footer .footer-bottom_container div:nth-of-type(2) span {
  margin: 0 1rem;
  background-color: yellow;
  height: 36px;
  width: 1px;
}

/*# sourceMappingURL=main.css.map */
